<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Vue.js</title>
</head>
<body>
  <div id="app">
    <span>Paciente: </span><input type="text" v-model="paciente">
    <br>
    <ul>
      <li v-for="p in lista">{{ p.nome }}, {{ p.idade }}</li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        paciente: '',
        pacientes: [
          { nome: 'Jorge Santana', idade: 32 },
          { nome: 'João Santos', idade: 45 },
          { nome: 'José Augusto', idade: 18 },
          { nome: 'Júnior Silva', idade: 20 },
          { nome: 'Júlio Nogueira', idade: 50 },
          { nome: 'Anderson Brandão', idade: 41 }
        ],
        lista: []
      },
      methods: {},
      computed: {},
      watch: {
        paciente(valor) {
          console.log(valor)
          this.lista = this.pacientes.filter(p => p.nome.match(valor))
        }
      }
    })
  </script>
</body>
</html>