body { font-size: 40px; }
div { background-color: #00B; color: #fff; }
div[wm-cor] { background-color: darkorange; }
div.estilo { background-color: green; }
div:hover { background-color: purple; }
div:hover, #unico1:hover { background-color: #000; }